<div class="container">
<h1 class="mt-3">Add Category</h1>

<form [formGroup]="addCategoryFormgroup" (ngSubmit)="onsubmit()">
<div class="mt3">
<label  class="form-label">Name</label>
<input type="text" class="form-contro" formControlName="name">

<div
  class="text-danger small"
  *ngIf="nameFormControl.touched && nameFormControl.hasError('required')">
  <p>This is a Required Field</p>
</div>

<div
  class="text-danger small"
  *ngIf="nameFormControl.touched && nameFormControl.hasError('maxlength')">
  <p>The Category UrlHandle must be within 200 characters.</p>
</div>
</div>

<div class="mt-3">

   <label class="form-label">URL Handle (Slug)</label>

<input
  type="text"
  class="form-control"
  formControlName="urlHandle">

<div
  class="text-danger small"
  *ngIf="urlHandleFormControl.touched && urlHandleFormControl.hasError('required')">
  <p>This is a Required Field</p>
</div>

<div
  class="text-danger small"
  *ngIf="urlHandleFormControl.touched && urlHandleFormControl.hasError('maxlength')">
  <p>The Category UrlHandle must be within 200 characters.</p>
</div>

</div>
<div class="mt-3">

    <button type="submit" class="btn btn-primary" 
     [disabled]="addCategoryFormgroup.valid===false">
    Save </button>
</div>

</form>

</div>