<form
  [formGroup]="addBlogPostForm"
  (ngSubmit)="addBlogPost()">

  <div class="mb-3">
    <label class="form-label">
      Title
    </label>

    <input
      type="text"
      class="form-control"
      formControlName="title">
  </div>


  <div class="mb-3">
    <label class="form-label">
      Short Description
    </label>

    <textarea
      class="form-control"
      rows="3"
      formControlName="shortDescription">
    </textarea>
  </div>


  <div class="mb-3">
    <label class="form-label">
      Content
    </label>

    <textarea
      class="form-control"
      rows="8"
      formControlName="content">
    </textarea>
  </div>


  <div class="mb-3">
    <label class="form-label">
      URL Handle
    </label>

    <input
      type="text"
      class="form-control"
      formControlName="urlHandle">
  </div>


  <div class="mb-3">
    <label class="form-label">
      Featured Image URL
    </label>

    <input
      type="text"
      class="form-control"
      formControlName="featuredImageURL">
  </div>


  <div class="mb-3">
    <label class="form-label">
      Author
    </label>

    <input
      type="text"
      class="form-control"
      formControlName="auther">
  </div>


  <div class="form-check mb-3">

    <input
      type="checkbox"
      class="form-check-input"
      formControlName="isvisible">

    <label class="form-check-label">
      Is Visible
    </label>

  </div>


  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="addBlogPostForm.invalid">

    Save Blog Post

  </button>
  <button class="btn btn-secondary" (click)="back()">Back</button>

</form>